html, body {
    height: 100%; /* 전체 페이지 높이를 100%로 설정 */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;  /* 컨텐츠를 위에서 아래로 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
    align-items: center;      /* 수평 중앙 정렬 */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: auto; /* 수평 가운데 정렬 */
    margin-bottom: 20px; /* 아래쪽 여백 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이 전체를 차지하도록 설정 (수직 가운데 정렬) */
}


h1 {
    text-align: center;
}

section {
    margin: 20px 0;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
